* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 2vw 5vw 1vw 5vw;
}

#logo {
  width: 7vw;
}
nav {
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1;
}

.menu ul,
.account ul {
  display: flex;
  flex-direction: row;
}

.menu ul li,
.account ul li {
  list-style: none;
  margin-right: 2vw;
  font-weight: bold;
}

.menu ul li a,
.account ul li a,
.policy_header_more a,
.program_header_more a {
  text-decoration: none;
  color: #333;
}

.policy_header_more p,
.program_header_more p {
  font-size: 11px;
}

hr {
  background: #d0d3d9;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_header {
  margin-top: 2vw;
  font-weight: bold;
  font-size: 28px;
}

.mentor {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1vw 0.2vw;
  box-shadow: 5px 5px 15px #d9d9d9;
  border-radius: 10px;
  width: 45vw;
}

.mentor_circle,
.answer_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 10px;
  background-color: #cee4fe;
  border-radius: 50%;
  margin-left: 1vw;
}

.mentor_name {
  margin-left: 3vw;
}

.mentor_name p {
  margin: 0;
  font-weight: bold;
}

.mentor_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 2vw;
  width: 21vw;
}

.mentor_content p {
  margin: 0 0.2vw;
  font-size: 12px;
  color: #c2c2c2;
}

.close {
  margin-top: 2vw;
}

#closeBtn {
  width: 8vw;
  border-radius: 8px;
  background: #fb8129;
  border: none;
  padding: 10px;
}

#closeBtn a {
  text-decoration: none;
  color: white;
}

.question {
  background-color: rgb(251, 129, 41, 0.5);
  border-radius: 20px 20px 0 20px;
  width: 45vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw 0;
}

.question p {
  color: #696969;
}

.answer_detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 1vw 0.2vw;
  box-shadow: 5px 5px 15px #d9d9d9;
  border-radius: 10px;
  width: 45vw;
  height: 20vw;
}

.answer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vw;
  margin-top: 5vw;
}

.answer_content div {
  font-weight: bold;
  font-size: 20px;
}
