body {
  height: 100%;
  margin: 0;
  background-image: url("../images/mypage_background2.png");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  width: 180px;
  height: auto;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form_style {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  /* Flexbox 사용 */
  display: flex;
  flex-direction: column; /* 수직으로 요소를 배치 */
  align-items: center; /* 요소를 가운데 정렬 */
}

.profile-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border: 3px solid #ff6600;
  border-radius: 100%;
  object-fit: cover;
}

.file-upload {
  display: none;
}

.upload-label {
  cursor: pointer;
  background-color: white;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upload-label:hover {
  background-color: #ffe8d7;
}

.nick_input {
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: center;
}

.nick_input input {
  font-size: 15px;
  border: none;
}

.input_show {
  width: 175px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.edit_button {
  width: 180px;
  padding: 10px;
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  justify-content: center;
}

.edit_button:hover {
  background-color: #c65300;
}

.back_button {
  padding: 10px 10px;
  background-color: #fedfce;
  border: none;
  color: #ff6600;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
}

.back_button:hover {
  color: #fedfce;
  background-color: #ff6600;
}
