
.header {
  display: flex;
  flex-direction: row;
  padding: 2vw 5vw 1vw 5vw;
}
.logo-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  width: 180px;
  height: auto;
}

body, html {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 세로 방향으로 정렬 */
}

.container {
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 2vw 5vw 1vw 5vw;
}

#logo {
  width: 7vw;
}
nav {
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1;
}

.menu ul,
.account ul {
  display: flex;
  flex-direction: row;
}

.menu ul li,
.account ul li {
  list-style: none;
  margin-right: 2vw;
  font-weight: bold;
}

.container {
  /* background: white; */
  /* box-shadow: 0 0 3px #e65c00; */
  /* padding: 2rem; */
  border-radius: 8px;
  width: 40%;
  text-align: center;
}

.community-img {
  width: 100%;
  margin-bottom: 20px;
}

.button_join {
  margin-top: 20px;
  text-align: right;
}

.write_com {
  color: white;
  background-color: #ff6600;
  margin-left: 20px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-decoration: none;
}

.write_com:hover {
  background-color: #bc4b00;
}

.button_1 {
  color: black;
  background-color: white;
  margin-left: 10px;
  padding: 8px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-decoration: none;
}

.button_1:hover {
  background-color: rgb(203, 203, 203);
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.post-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 40px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.post-header {
  text-align: right;
  align-items: center;
  font-size: 13px;
  color: #777;
  margin-bottom: 15px;
}

.nickname {
  font-weight: bold;
  color: #333;
}

.age {
  margin-left: 10px;
  color: #555;
}

.post-title {
  display: flex;
  font-size: 20px;
  margin: 10px 0;
}

.post-title a {
  text-decoration: none;
  color: #ff6600;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-content {
  display: flex;
  font-size: 15px;
  color: #4a4a4a;
  margin-bottom: 15px;
}

.post-meta {
  font-size: 14px;
  color: #999;
  margin-top: 25px;
}

.post-divider {
  border: 0;
  border-top: 1px solid #eee;
}
