* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 2vw 5vw 1vw 5vw;
}

#logo {
  width: 7vw;
}
nav {
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1;
}

.menu ul,
.account ul {
  display: flex;
  flex-direction: row;
}

.menu ul li,
.account ul li {
  list-style: none;
  margin-right: 2vw;
  font-weight: bold;
}

.menu ul li a,
.account ul li a,
.policy_header_more {
  text-decoration: none;
  color: #333;
}

hr {
  background: #d0d3d9;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_header {
  margin-top: 2vw;
  font-weight: bold;
  font-size: 28px;
}

.sec_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content_img {
  width: 20vw;
  margin: 0 auto;
}

.content_img img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.content_img p {
  color: #747474;
  font-size: 8px;
}

.content_text {
  margin-left: 2.5vw;
}

.text1 {
  margin-bottom: 1.5vw;
}

.content_title1 {
  margin-left: -1vw;
}

.content_title2,
.text2 span {
  font-weight: bold;
  font-size: 14px;
}

.text1 p {
  font-size: 14px;
}

.contents {
  margin-left: 1.2vw;
}

.close,
.register {
  margin-top: 2vw;
}

#closeBtn {
  width: 10.5vw;
  border-radius: 8px;
  background: #fb8129;
  border: none;
  padding: 10px;
}

#registerBtn {
  width: 10.5vw;
  border-radius: 8px;
  background-color: rgb(251, 129, 41, 0.5);
  border: none;
  padding: 10px;
}

#closeBtn a,
#registerBtn a {
  text-decoration: none;
  color: white;
}

.sec_section {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding: 2vw;
  margin-top: 2vw;
  box-shadow: 5px 5px 15px #d9d9d9;
}

#scrap {
  border: none;
  background: none;
  padding: 0;
}

#scrap img {
  width: 0.8vw;
}

.register {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sec_scrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3vw;
}

.sec_scrap p {
  margin: 0;
  margin-left: 0.2vw;
  color: #747474;
  font-size: 11px;
}
