* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 2vw 5vw 1vw 5vw;
}

#logo {
  width: 7vw;
}

nav {
  flex: 1;
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1;
}

.menu ul,
.account ul {
  display: flex;
  flex-direction: row;
}

.menu ul li,
.account ul li {
  list-style: none;
  margin-right: 2vw;
  font-weight: bold;
}

.menu ul li a,
.account ul li a,
.policy_header_more p,
#detailBtn a {
  text-decoration: none;
  color: #333;
}

hr {
  background: #d0d3d9;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_header {
  margin-top: 2vw;
  font-weight: bold;
  font-size: 28px;
  color: #fb8129;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vw;
}

#list {
  border: 3px solid #eff0f1;
  border-radius: 10px 10px 0 10px;
  color: rgb(113, 113, 113);
  width: 8vw;
  height: 35px;
}

#program {
  border: 3px solid #eff0f1;
  border-radius: 0 10px 10px 10px;
  width: 20vw;
  height: 35px;
  color: rgb(113, 113, 113);
  margin-right: 1vw;
  outline: none;
}

#submit {
  border: none;
  background: #fb8129;
  border-radius: 10px;
  padding: 10px;
  width: 4vw;
  height: 35px;
  color: white;
}

.program_list {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.program_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0.2vw;
  box-shadow: 5px 5px 15px #d9d9d9;
  border-radius: 10px;
  width: 22vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.program_detail_find {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0.2vw;
  box-shadow: 5px 5px 15px #d9d9d9;
  border-radius: 10px;
  width: 35vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.program_detail_location {
  width: 40px;
}

.program_detail_circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 10px;
  background-color: #fcddcd;
  border-radius: 50%;
  margin-left: 1vw;
}
.program_detail_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program_detail_content p {
  margin: 0;
}

.program_detail_content p:first-child {
  font-size: 10px;
  margin-bottom: 0.4vw;
  color: #c2c2c2;
}

.program_detail_content p:nth-child(2) {
  font-size: 13px;
  font-weight: bold;
}

.program_detail_look {
  font-size: 10px;
  margin-right: 1vw;
}

.program_detail_look a {
  text-decoration: none;
  color: #747474;
}

.program_list1,
.program_list2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vw;
}

#find {
  display: none;
  margin-top: 2vw;
}

.page {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.page div {
  background-color: rgb(252, 221, 205, 0.5);
  border-radius: 10px;
  width: 25px;
  margin-right: 0.5vw;
}

.page button {
  border: none;
  padding: none;
  background: none;
  font-size: 16px;
  margin-right: 0.5vw;
}

.page {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
}

.page div {
  background-color: rgb(252, 221, 205, 0.5);
  border-radius: 10px;
  width: 25px;
  margin-right: 0.5vw;
}

.page button {
  border: none;
  padding: none;
  background: none;
  font-size: 16px;
  margin-right: 0.5vw;
  background-color: none;
  border-radius: 25px;
}

#one {
  background-color: rgb(252, 221, 205, 0.5);
}
