body {
  background-image: url("../images/mypage_background2.png");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.logo-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  text-align: center;
}

.logo {
  width: 180px;
  height: auto;
}

.container1 {
  background: white;
  margin-top: 250px;
  box-shadow: 0 0 3px #e65c00;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  /* text-align: center; */
}

.container2 {
  /* background: white; */
  margin-top: 250px;
  box-shadow: 0 0 5px #e65c00;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  /* text-align: center; */
}

.sign_input {
  height: 30px;
  font-size: 20px;
}

.sign_input2 {
  height: 30px;
  font-size: 18px;
}

.input_show {
  font-size: 18px;
}

.basic_button {
  margin-top: 15px;
  width: 100%;
  padding: 0.7rem;
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.basic_button:hover {
  background-color: #e65c00;
}

h2.input_1 {
  color: #333;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: 100%;
  height: 2px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

a {
  color: #fb8129;
}

a:hover {
  color: #e35f00;
}

h1.title_sign {
  font-size: 30px;
  margin-bottom: 60px;
}

.error-shake {
  animation: shake 0.3s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

.radio-container {
  margin-bottom: 40px;
}

.radio-label {
  margin-top: 15px;
  display: inline-block;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 18px;
}
.radio-label2 {
  display: inline-block;
  margin-left: 28px;
  font-size: 18px;
}

.radio-input {
  display: none;
}

.radio-custom {
  margin-top: 2px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
}

.radio-custom.checked {
  background-color: #ff6600;
  border-color: #e65c00;
}

.radio-custom .radio-inner {
  display: none;
}

.radio-custom.checked .radio-inner {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 라디오 버튼 선택시 스타일 변경 */
.radio-input:checked + .radio-custom {
  background-color: #fb8129;
  border-color: #fb8129;
}

.gender_select {
  margin-left: 5px;
  width: 80px;
  height: 80px;
}

.gender_select2 {
  margin-left: 7px;
  width: 80px;
  height: 80px;
}

.gender_select3 {
  margin-left: 20px;
  width: 80px;
  height: 80px;
}
