<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필 수정</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div style="margin: 15px">
        <a href="{% url 'accounts:mypage' %}" class="back_button">뒤로가기</a>
      </div>
      <h2 style="text-align: center">프로필 수정</h2>
      <form method="post" enctype="multipart/form-data" class="form_style">
        {% csrf_token %}
        <div class="profile-container">
          {% if profile_pic_url %}
          <img
            src="{{ profile_pic_url }}"
            alt="프로필 사진"
            class="profile-pic"
          />
          {% else %}
          <img
            src="{% static 'images/basic_image.png' %}"
            alt="기본 프로필 사진"
            class="profile-pic"
          />
          {% endif %}
          <input
            type="file"
            name="profile_pic"
            id="profile_pic"
            class="file-upload"
          />
          <label for="profile_pic" class="upload-label">✏️</label>
        </div>
        <br />
        <label style="text-align: left" class="input_show">이름</label>
        <div class="nick_input">{{ form.nickname }}</div>

        <button class="edit_button" type="submit">저장</button>
      </form>
    </div>
  </body>
</html>
