<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainpage_styles.css' %}" />
  </head>

  <body>
    <section class="nav_main">
      {% load static %}

      <a href="{% url 'accounts:home' %}">
        <img class="logo" src="{% static 'images/logo2.png' %}" alt="로고" />
      </a>
      <nav>
        <ul class="menu">
          <li>
            <a href="{% url 'program:program_home' %}">육아휴직 소개서</a>
          </li>
          <li><a href="{% url 'mentoring:home' %}">전문가 멘토링</a></li>
          <li><a href="{% url 'community:list' %}">커뮤니티</a></li>
          <li><a href="{% url 'accounts:mypage' %}">마이 페이지</a></li>
        </ul>
      </nav>
      <nav style="padding-left: 400px">
        <ul class="menu">
          {% if user.is_authenticated %}
          <li>
            <a>{{ user.username }}님, 환영합니다!</a>
          </li>
          <li>
            <a
              href="#"
              onclick="document.getElementById('logout-form').submit();"
              >로그아웃</a
            >
            <form
              id="logout-form"
              action="{% url 'accounts:logout' %}"
              method="post"
              style="display: none"
            >
              {% csrf_token %}
            </form>
          </li>
          {% else %}
          <li>
            <a href="{% url 'accounts:login' %}" class="nav-link">로그인</a>
          </li>
          <li>
            <a href="{% url 'accounts:signup' %}" class="nav-link">회원가입</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </section>
    <hr />
    <div class="main-content">
      <img class="guide" src="{% static 'images/guide.png' %}" alt="로고" />

      <div class="program">
        <img class="title" src="{% static 'images/title2.png' %}" alt="로고" />
        <div class="menu-container">
          <a href="{% url 'program:program_home' %}">
            <img
              class="menu_1"
              src="{% static 'images/menu1.png' %}"
              alt="육아휴직소개서"
            />
          </a>
          <div class="right-menus">
            <a href="{% url 'mentoring:home' %}">
              <img
                class="menu_2"
                src="{% static 'images/menu2.png' %}"
                alt="전문가멘토링"
              />
            </a>
            <a href="{% url 'community:list' %}">
              <img
                class="menu_3"
                src="{% static 'images/menu3.png' %}"
                alt="커뮤니티"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static '/scripts/loginCheck.js' %}"></script>
  </body>
</html>
