<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mainpage_styles.css' %}" />
  </head>

  <body>
    {% include 'mentoring/header.html' %}
    
 
    <div class="main-content">
      <img class="guide" src="{% static 'images/guide.png' %}" alt="로고" />

      <div class="program">
        <img class="title" src="{% static 'images/title2.png' %}" alt="로고" />
        <div class="menu-container">
          <a href="{% url 'program:program_home' %}">
            <img
              class="menu_1"
              src="{% static 'images/menu1.png' %}"
              alt="육아휴직소개서"
            />
          </a>
          <div class="right-menus">
            <a href="{% url 'mentoring:home' %}">
              <img
                class="menu_2"
                src="{% static 'images/menu2.png' %}"
                alt="전문가멘토링"
              />
            </a>
            <a href="{% url 'community:list' %}">
              <img
                class="menu_3"
                src="{% static 'images/menu3.png' %}"
                alt="커뮤니티"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static '/scripts/loginCheck.js' %}"></script>
  </body>
</html>
