<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mypage_styles.css' %}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mypage_styles.css' %}" />
    <title>마이페이지</title>
    <style>
      .profile-pic {
        width: 150px; /* 원하는 크기로 조정 */
        height: 150px; /* 원하는 크기로 조정 */
        border-radius: 50%; /* 원형으로 만들기 */
        object-fit: cover; /* 이미지를 잘라서 맞춤 */
      }
      .profile-pic {
        width: 150px; /* 원하는 크기로 조정 */
        height: 150px; /* 원하는 크기로 조정 */
        border-radius: 50%; /* 원형으로 만들기 */
        object-fit: cover; /* 이미지를 잘라서 맞춤 */
      }
    </style>
  </head>
  <body>
    <!-- 상단 nav -->
    <section class="nav_main">
      {% include 'mentoring/header.html' %}

    <div class="container">
      <div style="margin: 15px">
        <a href="{% url 'accounts:home' %}" class="back_button">뒤로가기</a>
      </div>
      <div class="profile-section">
        <div class="profile-section">
          <div class="profile-picture">
            {% if profile_pic_url %}
            <img
              src="{{ profile_pic_url }}"
              alt="프로필 사진"
              class="profile-pic"
            />
            {% else %}
            <img
              src="{% static 'images/basic_image.png' %}"
              alt="기본 프로필 사진"
              class="profile-pic"
            />
            {% endif %}
          </div>
          <div class="profile-info">
            <h1>{{ nickname }}</h1>
            <p id="gender">
              {% if gender == 'female' %}여자아이 👧🏻 {% elif gender == 'male' %}
              남자아이 👦🏻 {% else %} 미정 {% endif %}
            </p>
            <p id="birthdate" style="margin-bottom: 20px">
              {{ current_age_months }}
            </p>
            <a href="{% url 'accounts:edit_profile' %}" class="edit_button"
              >정보 수정하기 &gt;</a
            >
          </div>
          <br /><br />
          <h3>
            작성한 게시글:
            <span class="toggle-button" onclick="togglePostList('user')"
              >{{ user_posts|length }}</span
            >
          </h3>

          <h3>
            스크랩한 게시글:
            <span class="toggle-button" onclick="togglePostList('scrap')"
              >{{ total_scraps }}</span
            >
          </h3>
            <li><a href="{% url 'accounts:scrap_post' %}">커뮤니티 게시글 ({{ scrapped_posts_count }})</a></li>
            <li><a href="{% url 'accounts:scrap_policy' %}">육아휴직 제도 ({{ scrapped_policies_count }})</a></li>
            <li><a href="{% url 'accounts:scrap_program' %}">육아휴직 프로그램 ({{ scrapped_programs_count }})</a></li>
          </ul>

          <h3>
            멘토링 질문:
            <span class="toggle-button" onclick="togglePostList('scrap')"
              >{{ user_questions|length }}</span
            >
          </h3>
          <h3>
            멘토링 기록지:
            <span class="toggle-button" onclick="togglePostList('scrap')"
              >{{ user_records|length }}</span
            >
          </h3>
        </div>
      </div>
    </div>
    <script src="{% static 'scripts/togglePostList.js' %}"></script>
  </body>
</html>
