<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  </head>

  <body>
    {% include 'mentoring/header.html' %}
    <div class="container">
      <!-- 커뮤니티 이미지 사용 -->
      <img src="{% static 'images/community.png' %}" class="community-img" />

      <!-- 글 작성 버튼 -->
      <br />
      <div class="button_join">
        <a href="{% url 'community:list' %}?sort=latest" class="button_1"
          >최신 등록순</a
        >
        <a href="{% url 'community:list' %}?sort=popular" class="button_1"
          >인기순</a
        >
        <a href="{% url 'community:create' %}" class="write_com"
          >✏️ 글 작성하기</a
        >
      </div>
    </div>

    <div class="container">
      <a class="back_button" href="{% url 'community:list' %}">뒤로가기</a
      ><br /><br />
      <!-- 게시글 작성자의 닉네임과 개월 수 표시 -->
      <label class="author-info">
        {{ author_nickname }} | {{ author_current_age_months }}
      </label>

      <h2 class="post-title">{{ post.title }}</h2>

      <div class="post-content">{{ post.content }}</div>

      <!-- 댓글 작성 폼 -->
      <form method="POST" action="{% url 'community:create-answer' post.id %}">
        {% csrf_token %}
        <input type="text" name="content" placeholder="댓글을 입력해주세요." />
        <input type="submit" value="등록" />
      </form>

      <!-- 공감 -->
      {% if request.user in post.like.all %}
      <form method="POST" action="{% url 'community:remove-like' post.id %}">
        {% csrf_token %}
        <button type="submit" name="like">공감 취소</button> {{ post.like.count
        }}
      </form>
      {% else %}
      <form method="POST" action="{% url 'community:add-like' post.id %}">
        {% csrf_token %}
        <button type="submit" name="like">공감</button>
      </form>
      {% endif %}

      <!-- 스크랩 -->
      {% if request.user in post.scrap.all %}
      <form method="POST" action="{% url 'community:remove-scrap' post.id %}">
        {% csrf_token %}
        <button type="submit" name="scrap">스크랩 취소</button> {{
        post.scrap.count }}
      </form>
      {% else %}
      <form method="POST" action="{% url 'community:add-scrap' post.id %}">
        {% csrf_token %}
        <button type="submit" name="scrap">스크랩</button>
      </form>
      {% endif %}

      <!-- 댓글 -->
      댓글 수: {{ post.answers.count }}<br /><br />
      {% for answer in post.answers.all %}
      <b>{{ answer.author.profile.nickname }}</b><br />
      {{ answer.content }}<br /><br />
      {% empty %} 댓글이 없습니다. {% endfor %}
    </div>
  </body>
</html>
