<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시글 상세보기</title>
  <link rel="stylesheet" href="{% static 'css/comment.css' %}" />
  <link rel="stylesheet" href="{% static 'css/community.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
</head>
<body>
  <!-- 상단 nav -->
      <!-- 커뮤니티 이미지 사용 -->
      <div class="container">
      <img src="{% static 'images/community.png' %}" class="community-img" />
    <style>
        .profile-pic {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
    <br>
    <div class="big-box">
      {% if author_profile_pic_url %}
            <img src="{{ author_profile_pic_url }}" alt="프로필 사진" class="profile-pic" width="25" height="25">
        {% else %}
            <img src="{% static 'images/basic_image.png' %}" alt="기본 프로필 사진" class="profile-pic" width="25" height="25">
        {% endif %}


        <!--게시글 작성자의 닉네임과 개월 수 표시-->
      <label class="author-info">{{ author_nickname }} | {{ author_current_age_months }}</label>
      </div>
      <h2 class="post-title">{{ post.title }}</h2>
      <div class="post-content">{{ post.content }}</div>
    
    <!--댓글-->
    <p class="comment-number">댓글 수: {{ post.answers.count }}<br><br></p>
    {% for answer in post.answers.all %}
      {% if author_profile_pic_url %}
            <img src="{{ author_profile_pic_url }}" alt="프로필 사진" class="profile-pic" width="25" height="25">
        {% else %}
            <img src="{% static 'images/basic_image.png' %}" alt="기본 프로필 사진" class="profile-pic" width="25" height="25">
        {% endif %}
        <b>{{ answer.author.profile.nickname }}</b><br>
        {{ answer.content }}  
        {%if request.user.is_authenticated %}
        <br><br><br>
        {%endif%}
    {% empty %}
        댓글이 없습니다.
    {% endfor %}

    <!--댓글 입력-->
    <form method="POST" action="{% url 'community:create-answer' post.id %}">
        {% csrf_token %}
        <input type="text" name="content" class="comment-pom" placeholder="댓글을 입력해주세요.">
        <input type="submit" value="등록" class="submit-button">
    </form>
    <br>
    <!--공감-->
    {% if request.user in post.like.all %}
    <form method="POST" action="{% url 'community:remove-like' post.id %}">
        {% csrf_token %}
        <input class="like-button" type="submit" name="like" value="공감 취소 {{ post.like.count }}"></input>
    {% else %}
    <form method="POST" action="{% url 'community:add-like' post.id %}">
        {% csrf_token %}
        <input class="like-button" type="submit" name="like" value="공감 {{ post.like.count }}"></input>   </form>
    {% endif %}
    <br>
    <!--스크랩-->
    {% if request.user in post.scrap.all %}
    <form method="POST" action="{% url 'community:remove-scrap' post.id %}">
        {% csrf_token %}
        <input type="submit" name="scrap" class="scrap" value="스크랩 취소 {{ post.scrap.count }}"></input>   </form>
    {% else %}
    <form method="POST" action="{% url 'community:add-scrap' post.id %}">
        {% csrf_token %}
        <input type="submit" name="scrap" class="scrap" value="스크랩 {{ post.scrap.count }}"></input>   </form>
    {% endif %}
    <br>
</body>
</html>