<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 게시글 목록</title>
    <link rel="stylesheet" href="{% static 'css/community.css' %}" />
    <style>
      .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>    
 {%include 'mentoring/header.html' %}
    <div class="container">
      <!-- 커뮤니티 이미지 사용 -->
      <img src="{% static 'images/community.png' %}" class="community-img" />

      <!-- 글 작성 버튼 -->
      <br />
      <div class="button_join">
        <a href="{% url 'community:list' %}?sort=latest" class="button_1"
          >최신 등록순</a
        >
        <a href="{% url 'community:list' %}?sort=popular" class="button_1"
          >인기순</a
        >
        <a href="{% url 'community:create' %}" class="write_com"
          >✏️ 글 작성하기</a
        >
      </div>

      <br />
      <br />
      <hr />
      <br />

      <div class="posts-container">
        {% for post in posts %}
        <div class="post-card">
          <div class="post-header">
            {% if post.author.profile.profile_pic_url %}
            <img
              src="{{ post.author.profile.profile_pic_url }}"
              alt="프로필 사진"
              class="profile-pic"
            />
            {% else %}
            <img
              src="{% static 'images/basic_image.png' %}"
              alt="기본 프로필 사진"
              class="profile-pic"
            />
            {% endif %}
            <div>
              <span class="nickname">{{ post.author.profile.nickname }}</span>
              <span class="age"
                >{{ post.author.profile.current_age_months }}</span
              >
            </div>
          </div>
          <h2 class="post-title">
            <a href="{% url 'community:detail' post.id %}"
              >{{ post.title | truncatechars:20 }}</a
            >
          </h2>
          <div class="post-content">{{ post.content | truncatechars:30 }}</div>
          <div class="post-meta">
            댓글 수: {{ post.answers.count }} | 공감 수: {{ post.like.count }} |
            스크랩 수: {{ post.scrap.count }}
          </div>
        </div>
        {% empty %}
        <p>게시글이 없습니다.</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
