    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/policy_detail.css' %}"></link>
    <title>policy_detail</title>
    </head>
    <body>
        {% include 'program/header.html' %}
    <section>
        <div class="section">
        <div class="sec_header">{{ policy.title }}</div><!-- ~<div class="sec_header"> -->
        <div class="sec_content">
            <!-- <div class="sec_scrap">
            <button id="scrap" type="submit" name="scrap"> <img src="{% static 'images/scrap.png' %}" id="scrap_img"></button>
            <p id="scrapCount">{{ policy.scrap_set.count }}</p>
            </div>~<div class="sec_scrap"> -->

            <!-- 스크랩 -->
            {% if is_scrapped %}
            <form method="POST" action="{% url 'program:remove_scrap_policy' policy.id %}">
                {% csrf_token %}
                <button id="scrap" type="submit" name="scrap"> <img src="{% static 'images/scrap2.png' %}" id="scrap_img"></button>
                <p id="scrapCount">{{ policy.scrap_set.count }}</p>
            </form>

            {% else %}
            <form method="POST" action="{% url 'program:add_scrap_policy' policy.id %}">
                {% csrf_token %}
                <button id="scrap" type="submit" name="scrap"> <img src="{% static 'images/scrap.png' %}" id="scrap_img"></button>
                <p id="scrapCount">{{ policy.scrap_set.count }}</p>
            </form>
            {% endif %}

            <div class="sec_detail">
            <div class="content_img">
                <img src="{% static 'images/policy01.png' %}">
            </div>
            <div class="content_text">
            {% for benefit in policy.benefits.all %}
                
                <div class="text1">
                <p><img src="{% static 'images/circle.png' %}"><span class="content_title1">혜택 {{ forloop.counter }} </span> <span class="content_title2"> {{ benefit.title }}</span></p>
                <p class="contents">●내용: {{ benefit.content }}</p>
                {% if benefit.eligibility %}
                <p class="contents">●지원 조건: {{ benefit.eligibility }}</p>
                {% endif %}{% if benefit.application_period %}
                <p class="contents">●신청 시기: {{ benefit.application_period }}</p>
                {% endif %}
                <p class="contents">●신청 방법: {{ benefit.application_method }}</p>
                {% if benefit.planned_changes %}
                <p class="contents">●2024년 개편 예정: {{ benefit.planned_changes }}</p>
                {% endif %} {% if benefit.additional_info %}
                <p class="contents">●기타: {{ benefit.additional_info }}</p>
                {% endif %} 
                </div><!-- ~<div class="text1"> -->
                    {% endfor %}
            </div><!-- ~<div class="content_text"> -->
                
            </div>
            
        </div><!-- ~<div class="sec_content"> -->
            
        <div class="close">
            <button type="button" id="closeBtn"><a href="{% url 'program:policy_list' %}">뒤로가기</a></button>
        </div><!-- ~<div class="closeBtn"> -->
        </div><!-- ~<div class="section"> -->
    </section>
    <script src="{% static 'scripts/policy_detail.js' %}"></script>
    
    </body>
    </html>