{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/program.css' %}"></link>
    <title>program</title>
</head>
<body>
    {% include 'program/header.html' %}

    <section>
    <div class="section">
        <div class="sec_header">육아프로그램</div><!-- ~<div class="sec_header"> -->
        
        <div class="search">
        <form method="GET" action="{% url 'program:program_list' %}">
            <div class="searchDiv">
            <div class="listDiv">
                <select id="list" name="region">
                    <option value="">지역 선택</option>
                    <option value="서울" {% if region == '서울' %}selected{% endif %}>서울</option>
                    <option value="인천" {% if region == '인천' %}selected{% endif %}>인천</option>
                    <option value="강원" {% if region == '강원' %}selected{% endif %}>강원</option>
                    <option value="경남" {% if region == '경남' %}selected{% endif %}>경남</option>
                    <option value="전남" {% if region == '전남' %}selected{% endif %}>전남</option>
                    <option value="경기" {% if region == '경기' %}selected{% endif %}>경기</option>
                </select>
            </div><!-- ~<div class="listDiv"> -->
            <div class="inputDiv">
                <input type="text" id="program" placeholder="프로그램을 입력하세요" name="q" value="{{ query }}">
            </div><!-- ~<div class="inputDiv"> -->
            <div class="submitBtn">
                <button type="submit" id="submit">조회</button>
            </div><!-- ~<div class="submitBtn"> -->
            </div>
            
        </form>
        
        </div><!-- ~<div class="search"> -->

        <div id="programs">

        <div class="program_list">
            {% for program in programs %}
            <div class="program_detail">
                <div class="program_detail_location">
                <div class="program_detail_circle"><div class="program_detail_text">{{ program.region }}</div></div><!-- ~<div class="program_detail_circle"> -->
                </div><!-- ~<div class="program_detail_location"> -->
                <div class="program_detail_content">
                <p>{{ program.center_info }}</p>
                <p>{{ program.title }}</p>
                </div>
                <div class="program_detail_look">
                <p><a href="{% url 'program:program_detail' program.id %}">상세보기</a></p>
                </div>
            </div><!-- ~<div class="program_detail"> -->
            {% endfor %}
            
            
        </div><!-- ~<div class="program_list"> -->
        
        </div><!-- ~<div class="programs"> -->

            <div class="page">
                <button type="button" id="one">1</button>
                <button type="button" id="two">2</button>
                <button type="button" id="three">3</button>
                <button type="button" id="next">></button>
            </div>

    </div><!-- ~<div class="section"> -->
    </section>
    <script src="{% static 'scripts/program.js' %}"></script>   

</body>
</html>
