{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mentor.css' %}" />
    <title>mentor</title>
  </head>
  <body>
    {% include 'mentoring/header.html' %}

    <section>
      <div class="mentor">
        <div class="mentor_about">
          <div class="mentor_detail">
            <div class="mentor_nickname">
              <div class="mentor_circle"><div class="mentor_text">{{mento.nickname}}</div></div>
              <!-- ~<div class="mentor_circle"> -->
            </div>
            <!-- ~<div class="mentor_nickname"> -->

            <div class="mentor_name">
              <p>{{mento.name}} 멘토</p>
            </div>
            <!-- ~<div class="mentor_name"> -->

            <div class="mentor_content">
              <p>{{mento.tag}}</p>
            </div>
            <!-- ~<div class="mentor_content"> -->

            <div class="mentor_btn">
              <a href="{%url 'mentoring:question' mento.id%}"><button type="button">질문하기</button></a>
            </div>
            <!-- ~<div class="mentor_btn"> -->
          </div>
          <!-- ~<div class="mentor_detail"> -->

          <div class="mentor_explain">
            <div class="explain_title">
              <p class="explain_p">멘토 소개</p>
              <p>{{mento.intro}}</p>
            </div>
            <!-- ~<div class="explain_title"> -->
            <br />
            <div class="explain_content">
              <p class="explain_p">이런 내용을 멘토링 합니다!</p>
              <p>● {{mento.content_1}}</p>
              <p>● {{mento.content_2}}</p>
              <p>● {{mento.content_3}}</p>
              <p>● {{mento.content_4}}</p>
            </div>
            <!-- ~<div class="explain_content"> -->
            <br />
            <div class="explain_time">
              <p class="explain_p">질문 답변 시간</p>
              <p>{{mento.time}}</p>
            </div>
            <!-- ~<div class="explain_time"> -->
          </div>
          <!-- ~<div class="mentor_explain"> -->
        </div>
        <!-- ~<div class="mentor_about"> -->

        <div class="close">
          <button type="button" id="closeBtn"><a href="{%url 'mentoring:home'%}">뒤로가기</a></button>
        </div>
        <!-- ~<div class="closeBtn"> -->
      </div>
      <!-- ~<div class="mentor"> -->
    </section>
  </body>
</html>
